@media (max-width: 575.98px){ 
    #banner .banner_round_1 {
       display: none;
    }
    #banner .banner_round_2 {
        display: none;
    }

    #banner .banner_main .banner .banner_item h2 {
        padding: 10px 10px 10px 0;
    }

    #banner .banner_main .banner .banner_item .banner_input {
       display: list-item;
       width: 100%;
       height: 220px;
       padding: 40px 20px;
       margin: 20px 0;
    }
    #banner .banner_main .banner .banner_item .banner_input .input_mail input {
        border: none;
    }
.email_input{
    text-align: center;
}
#banner .banner_main .banner .banner_item .banner_input .submit_button button a {
	font-size: 14px;
}
#banner .banner_main .banner .banner_item .banner_input .submit_button button {
	height: 50px;
	width: 160px;
}
#banner .banner_main .banner .banner_item .banner_input .submit_button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#banner .banner_main .banner .banner_item .banner_input .input_mail {
	padding: 10px 0px 10px 40px;
	border-left: none;
	text-align: center;
}
#banner .banner_main .banner .banner_item .banner_input .input_mail input{
    border: 1px solid #777777;
    padding: 10px 10px;
}
#banner .banner_main .banner .banner_img img {
	width:100%;
	height: 690px;
}

#banner .banner_main .banner .banner_img::after {
	display: none;
}

#banner .banner_round_3 .round_small {
      display: none;
}
#banner .banner_main .banner .banner_img {
	position: relative;
	right: 0%;
}

#about .about_main .about_right .banner_round_5 {
	top: 0;
	right: 0%;
}
#about .about_main .about_left .banner_round_4 {
	bottom: 0;
	left: 0%;
}
#about .about_main .about_right {
	padding-top: 90px;
}

#about .about_main .about_right .about_button button a {

	font-size: 15px;
}

#about .about_main .about_right .about_button button {
	height: 55px;
	width: 130px;
}

#watch .watch_main .banner_round_6 {
  display: none;
}

#watch .watch_main .watch_img img {
	width: 100%;
	height: 520px;

}

#watch .watch_main .watch_img .img_overly {
	width: 100%;

}
#banner {
	margin-bottom: 100px;
}

#about .about_main .about_left img {
	height: 470px;
	width: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}



}

@media (min-width: 576px) and (max-width: 767.98px){ 

    #banner .banner_round_1 {
        display: none;
     }
     #banner .banner_round_2 {
         display: none;
     }
 
     #banner .banner_main .banner .banner_item h2 {
         padding: 10px 10px 10px 0;
     }
 
     #banner .banner_main .banner .banner_item .banner_input {
        display: list-item;
        width: 100%;
        height: 220px;
        padding: 40px 20px;
        margin: 70px 0;
     }
     #banner .banner_main .banner .banner_item .banner_input .input_mail input {
         border: none;
     }
 .email_input{
     text-align: center;
 }
 #banner .banner_main .banner .banner_item .banner_input .submit_button button a {
     font-size: 14px;
 }
 #banner .banner_main .banner .banner_item .banner_input .submit_button button {
     height: 50px;
     width: 160px;
 }
 #banner .banner_main .banner .banner_item .banner_input .submit_button{
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
 }
 #banner .banner_main .banner .banner_item .banner_input .input_mail {
     padding: 10px 0px 10px 40px;
     border-left: none;
     text-align: center;
 }
 #banner .banner_main .banner .banner_item .banner_input .input_mail input{
     border: 1px solid #777777;
     padding: 10px 10px;
 }
 #banner .banner_main .banner .banner_img img {
     width:100%;
     height: 690px;
 }
 
 #banner .banner_main .banner .banner_img::after {
     display: none;
 }
 
 #banner .banner_round_3 .round_small {
       display: none;
 }
 #banner .banner_main .banner .banner_img {
     position: relative;
     right: 0%;
 }
 
 #about .about_main .about_right .banner_round_5 {
     top: 0;
     right: -10%;
 }
 #about .about_main .about_left .banner_round_4 {
     bottom: 0;
     left: -10%;
 }
 #about .about_main .about_right {
     padding-top: 90px;
 }
 
 #about .about_main .about_right .about_button button a {
 
     font-size: 15px;
 }
 
 #about .about_main .about_right .about_button button {
     height: 55px;
     width: 130px;
 }
 
 #watch .watch_main .banner_round_6 {
   display: none;
 }
 
 #watch .watch_main .watch_img img {
     width: 100%;
     height: 520px;
 
 }
 
 #watch .watch_main .watch_img .img_overly {
     width: 100%;
 
 }
 #banner {
     margin-bottom: 100px;
 }
 
 #about .about_main .about_left img {
     height: 470px;
     width: 470px;

 }
 
 #watch .watch_main .banner_round_8 {

	bottom: 180px;
}
#watch .watch_main .banner_round_7 {
	top: 40px;
	right: 3%;
}


 }

 @media (min-width: 768px) and (max-width: 991.98px){ 

    #banner .banner_round_1 {
        display: none;
     }
     #banner .banner_round_2 {
         display: none;
     }
 
     #banner .banner_main .banner .banner_item h2 {
         padding: 10px 10px 10px 0;
     }
 
     #banner .banner_main .banner .banner_item .banner_input {
        display: list-item;
        width: 100%;
        height: 220px;
        padding: 40px 20px;
        margin: 70px 0;
     }
     #banner .banner_main .banner .banner_item .banner_input .input_mail input {
         border: none;
     }
 .email_input{
     text-align: center;
 }
 #banner .banner_main .banner .banner_item .banner_input .submit_button button a {
     font-size: 14px;
 }
 #banner .banner_main .banner .banner_item .banner_input .submit_button button {
     height: 50px;
     width: 160px;
 }
 #banner .banner_main .banner .banner_item .banner_input .submit_button{
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
 }
 #banner .banner_main .banner .banner_item .banner_input .input_mail {
     padding: 10px 0px 10px 40px;
     border-left: none;
     text-align: center;
 }
 #banner .banner_main .banner .banner_item .banner_input .input_mail input{
     border: 1px solid #777777;
     padding: 10px 10px;
 }
 #banner .banner_main .banner .banner_img img {
     width:100%;
     height: 690px;
 }
 
 #banner .banner_main .banner .banner_img::after {
     display: none;
 }
 
 #banner .banner_round_3 .round_small {
       display: none;
 }
 #banner .banner_main .banner .banner_img {
     position: relative;
     right: 0%;
 }
 
 #about .about_main .about_right .banner_round_5 {
     top: 0;
     right: -10%;
 }
 #about .about_main .about_left .banner_round_4 {
     bottom: 0;
     left: -10%;
 }
 #about .about_main .about_right {
     padding-top: 90px;
 }
 
 #about .about_main .about_right .about_button button a {
 
     font-size: 15px;
 }
 
 #about .about_main .about_right .about_button button {
     height: 55px;
     width: 130px;
 }
 
 #watch .watch_main .banner_round_6 {
   display: none;
 }
 
 #watch .watch_main .watch_img img {
     width: 100%;
     height: 520px;
 
 }
 
 #watch .watch_main .watch_img .img_overly {
     width: 100%;
 
 }
 #banner {
     margin-bottom: 100px;
 }
 
 #about .about_main .about_left img {
     height: 470px;
     width: 470px;

 }
 
 #watch .watch_main .banner_round_8 {

	bottom: 180px;
}
#watch .watch_main .banner_round_7 {
	top: 40px;
	right: 3%;
}








 }